<h1>Chatr</h1>

<form>
  <textarea name="body" placeholder="Type your message..."></textarea>
  <textarea name="user" placeholder="Type your user..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<ul id="messages"></ul>
